#button {
    margin-left: 50px;
    margin-right: 50px;
}

#menu_principal {
    margin-left: 50px;
    margin-right: 50px;
}

div.col-sm {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width: 2px;
    border-style: solid;
    color: rgb(0, 0, 0);
}

div.col-sm:hover {
    background-color: rgb(110, 110, 110);
    color: white;
}

#button_register {
    border-radius: 30px;
    border-width: 2px;
    border-color: black;
}

#button_register:hover {
    background-color: rgb(110, 110, 110);
}

#button_register2 {
    color: black;
}

#button_register2:hover {
    color: white;
}

#form {
    background-color: transparent;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

#registro {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}

#newregister {
    color: black;
    border-radius: 30px;
    border-width: 2px;
    border-color: black;
}

#newregister:hover {
    background-color: rgb(110, 110, 110);
    color: white;
}
